<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>🐹🍎ゆゆこ🍎🐹2022 Winter Message Board</title>

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>

		<!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
		<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

		<!-- Vueインスタンス -->
		<script src="/views/js/messageboard.js" defer></script>
	</head>
	<body>
		<div id="app">
			<div v-show="isMessageBoard">
				<header>
					<h1>
						<img src="/views/image/2022Winter/2022Winter_Title.png">
					</h1>
				</header>
				<p><img src="/views/image/2022Winter/2022Winter01.png"> <img src="/views/image/2022Winter/2022Winter02.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter03.png"> <img src="/views/image/2022Winter/2022Winter04.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter05.png"> <img src="/views/image/2022Winter/2022Winter06.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter07.png"> <img src="/views/image/2022Winter/2022Winter08.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter09.png"> <img src="/views/image/2022Winter/2022Winter10.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter11.png"> <img src="/views/image/2022Winter/2022Winter12.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter13.png"> <img src="/views/image/2022Winter/2022Winter14.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter13.png"> <img src="/views/image/2022Winter/2022Winter14.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter15.png"> <img src="/views/image/2022Winter/2022Winter16.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter17.png"> <img src="/views/image/2022Winter/2022Winter18.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter19.png"> <img src="/views/image/2022Winter/2022Winter20.png"></p>
				<p><img src="/views/image/2022Winter/2022Winter21.png"></p>
			</div>
		</div>

		<input type="button" onclick="window.close();" value="このページを閉じる">
	</body>
</html>
