<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>パスワード認証機能付き返信掲示板</title>
		<!-- スタイルシート -->
		<link rel="stylesheet" type="text/css" href="/views/css/product.css">

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>

		<!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
		<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

		<!-- Vueインスタンス -->
		<script src="/views/js/main.js" defer></script>
	</head>
	<body bgcolor="#B0C4DE">
		<div id="app">
			<center>
				<h1>{{ title }}</h1>
				<p><a href="#" v-on:click="doUserPasswordCollation()"><img src="/views/image/hamuapple.png"></a></p>
			</center>
		</div>
	</body>
<html>
