<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>メッセージ表示</title>
		<!-- スタイルシート -->
		<link rel="stylesheet" type="text/css" href="/views/css/message.css">

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>

		<!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
		<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

		<script src="/views/js/message.js" defer></script>

		<script src="/views/js/modoru.js" defer></script>
	</head>
	<body>
		<p>メッセージを表示します</p>

		<div id="app">
			<ul id="messageinfo">
			</ul>
		</div>

		<p><input type="button" value="掲示板一覧へ戻る" id="modoru"><p>

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>

		<!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

		<script src="/views/js/message.js"></script>
</html>
