<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<title>メッセージ投稿ページ</title>

		<!-- Vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js" defer></script>

		<!-- axios：HTTP通信を超簡単に行うことができるJavaScriptライブラリ -->
		<script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>

		<!-- Vueインスタンス -->
		<script src="/views/js/messagecreate.js" defer></script>

		<!-- 戻りボタン制御 -->
		<script src="/views/js/modoru.js" defer></script>
	</head>
	<body>
		<div id="app">
			<div v-show="isDisplay">
				<h1>{{ title }}</h1>

				<p>宛先：<input type="text" name='productName' v-model="productName" value='' size="40"></p>
				<p>メッセージ：<input type="text" name='productMessage' v-model="productMessage" value='' size="40"></p>
				<!-- 送信ボタン -->
				<button v-on:click="doAddProduct">
					送信
				</button>

				<div v-show="isButton">
					<p><button type="button" onclick="window.open('./2021autmnmessage.html')">2021年秋のメッセージボードへ</button></p>
					<p><button type="button" onclick="window.open('./2022wintermessage.html')">2022年冬のメッセージボードへ</button></p>
				</div>
			</div>
		</div>
		<p><input type="button" value="掲示板一覧へ戻る" id="modoru"><p>
	</body>
</html>
